@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&family=Open+Sans:wght@300;400&family=Work+Sans:wght@100;200;300;400;500&display=swap');

$font-head-subline: 'Open Sans', sans-serif;
$font-headline: 'Work Sans', sans-serif;
$font-paragraph: 'Noto Sans JP', sans-serif;

$color-yellow: #e6bf64;
$color-error: #eb6868;
$color-green: #506550;

// media queries mixins
  @mixin media-s {
    @media screen and (min-width: 640px) {
      @content;
    }
  }
  @mixin media-m {
    @media screen and (min-width: 960px) {
      @content;
    }
  }
  
  @mixin media-l {
    @media screen and (min-width: 1200px) {
      @content;
    }
  }
  
